In [1]:
import pandas as pd

Read in csv files from baseballsavant.com and rotowire.com.  These two sites provide different but useful information that I'd like to use in my analysis.

In [2]:
#Load Baseball savant csv files

df1 = pd.read_csv('hitters_2018.csv')
df2 = pd.read_csv('hitters_2019.csv')
df3 = pd.read_csv('hitters_2021.csv')
df4 = pd.read_csv('hitters_2022.csv')
df5 = pd.read_csv('hitters_2023.csv')

#Load rotowire csv files

df6 = pd.read_csv('hp_2018.csv')
df7 = pd.read_csv('hp_2019.csv')
df8 = pd.read_csv('hp_2021.csv')
df9 = pd.read_csv('hp_2022.csv')
df10 = pd.read_csv('hp_2023.csv')

Trim rotowire stats to only include relevant info, rename 'Player' column to 'full_name' in order to join tables later

In [3]:
df6 = df6[['Player','Team','Pos']]
df7 = df7[['Player','Team','Pos']]
df8 = df8[['Player','Team','Pos']]
df9 = df9[['Player','Team','Pos']]
df10 = df10[['Player','Team','Pos']]

df6.rename(columns={'Player': 'full_name'}, inplace=True)
df7.rename(columns={'Player': 'full_name'}, inplace=True)
df8.rename(columns={'Player': 'full_name'}, inplace=True)
df9.rename(columns={'Player': 'full_name'}, inplace=True)
df10.rename(columns={'Player': 'full_name'}, inplace=True)


#positions.rename(columns={'Player': 'full_name'}, inplace=True)

Rename Columns

In [4]:
df1.rename(columns={'last_name, first_name': 'name'}, inplace=True)
df1.rename(columns={'player_age': 'age'}, inplace=True)
df1.rename(columns={'batting_avg': 'AVG'}, inplace=True)
df1.rename(columns={'slg_percent': 'SLG'}, inplace=True)
df1.rename(columns={'on_base_percent': 'OBP'}, inplace=True)
df1.rename(columns={'on_base_plus_slug': 'OPS'}, inplace=True)
df1.rename(columns={'isolated_power': 'ISO'}, inplace=True)
df1.rename(columns={'b_rbi': 'rbi'}, inplace=True)
df1.rename(columns={'r_total_stolen_base': 'SB'}, inplace=True)
df1.rename(columns={'b_game': 'G'}, inplace=True)
df1.rename(columns={'b_hit_by_pitch': 'HBP'}, inplace=True)
df1.rename(columns={'r_run': 'R'}, inplace=True)
df1.rename(columns={'barrel_batted_rate': 'barrel_rate'}, inplace=True)

df2.rename(columns={'last_name, first_name': 'name'}, inplace=True)
df2.rename(columns={'player_age': 'age'}, inplace=True)
df2.rename(columns={'batting_avg': 'AVG'}, inplace=True)
df2.rename(columns={'slg_percent': 'SLG'}, inplace=True)
df2.rename(columns={'on_base_percent': 'OBP'}, inplace=True)
df2.rename(columns={'on_base_plus_slug': 'OPS'}, inplace=True)
df2.rename(columns={'isolated_power': 'ISO'}, inplace=True)
df2.rename(columns={'b_rbi': 'rbi'}, inplace=True)
df2.rename(columns={'r_total_stolen_base': 'SB'}, inplace=True)
df2.rename(columns={'b_game': 'G'}, inplace=True)
df2.rename(columns={'b_hit_by_pitch': 'HBP'}, inplace=True)
df2.rename(columns={'r_run': 'R'}, inplace=True)
df2.rename(columns={'barrel_batted_rate': 'barrel_rate'}, inplace=True)

df3.rename(columns={'last_name, first_name': 'name'}, inplace=True)
df3.rename(columns={'player_age': 'age'}, inplace=True)
df3.rename(columns={'batting_avg': 'AVG'}, inplace=True)
df3.rename(columns={'slg_percent': 'SLG'}, inplace=True)
df3.rename(columns={'on_base_percent': 'OBP'}, inplace=True)
df3.rename(columns={'on_base_plus_slug': 'OPS'}, inplace=True)
df3.rename(columns={'isolated_power': 'ISO'}, inplace=True)
df3.rename(columns={'b_rbi': 'rbi'}, inplace=True)
df3.rename(columns={'r_total_stolen_base': 'SB'}, inplace=True)
df3.rename(columns={'b_game': 'G'}, inplace=True)
df3.rename(columns={'b_hit_by_pitch': 'HBP'}, inplace=True)
df3.rename(columns={'r_run': 'R'}, inplace=True)
df3.rename(columns={'barrel_batted_rate': 'barrel_rate'}, inplace=True)

df4.rename(columns={'last_name, first_name': 'name'}, inplace=True)
df4.rename(columns={'player_age': 'age'}, inplace=True)
df4.rename(columns={'batting_avg': 'AVG'}, inplace=True)
df4.rename(columns={'slg_percent': 'SLG'}, inplace=True)
df4.rename(columns={'on_base_percent': 'OBP'}, inplace=True)
df4.rename(columns={'on_base_plus_slug': 'OPS'}, inplace=True)
df4.rename(columns={'isolated_power': 'ISO'}, inplace=True)
df4.rename(columns={'b_rbi': 'rbi'}, inplace=True)
df4.rename(columns={'r_total_stolen_base': 'SB'}, inplace=True)
df4.rename(columns={'b_game': 'G'}, inplace=True)
df4.rename(columns={'b_hit_by_pitch': 'HBP'}, inplace=True)
df4.rename(columns={'r_run': 'R'}, inplace=True)
df4.rename(columns={'barrel_batted_rate': 'barrel_rate'}, inplace=True)

df5.rename(columns={'last_name, first_name': 'name'}, inplace=True)
df5.rename(columns={'player_age': 'age'}, inplace=True)
df5.rename(columns={'batting_avg': 'AVG'}, inplace=True)
df5.rename(columns={'slg_percent': 'SLG'}, inplace=True)
df5.rename(columns={'on_base_percent': 'OBP'}, inplace=True)
df5.rename(columns={'on_base_plus_slug': 'OPS'}, inplace=True)
df5.rename(columns={'isolated_power': 'ISO'}, inplace=True)
df5.rename(columns={'b_rbi': 'rbi'}, inplace=True)
df5.rename(columns={'r_total_stolen_base': 'SB'}, inplace=True)
df5.rename(columns={'b_game': 'G'}, inplace=True)
df5.rename(columns={'b_hit_by_pitch': 'HBP'}, inplace=True)
df5.rename(columns={'r_run': 'R'}, inplace=True)
df5.rename(columns={'barrel_batted_rate': 'barrel_rate'}, inplace=True)

Clean name column

In [5]:
df1[['lastname', 'firstname']] = df1['name'].str.split(', ', expand = True)
df1['full_name'] = df1['firstname'] + ' ' + df1['lastname']
df1.drop(['name', 'lastname', 'firstname'], axis=1, inplace=True)

df2[['lastname', 'firstname']] = df2['name'].str.split(', ', expand = True)
df2['full_name'] = df2['firstname'] + ' ' + df2['lastname']
df2.drop(['name', 'lastname', 'firstname'], axis=1, inplace=True)

df3[['lastname', 'firstname']] = df3['name'].str.split(', ', expand = True)
df3['full_name'] = df3['firstname'] + ' ' + df3['lastname']
df3.drop(['name', 'lastname', 'firstname'], axis=1, inplace=True)

df4[['lastname', 'firstname']] = df4['name'].str.split(', ', expand = True)
df4['full_name'] = df4['firstname'] + ' ' + df4['lastname']
df4.drop(['name', 'lastname', 'firstname'], axis=1, inplace=True)

df5[['lastname', 'firstname']] = df5['name'].str.split(', ', expand = True)
df5['full_name'] = df5['firstname'] + ' ' + df5['lastname']
df5.drop(['name', 'lastname', 'firstname'], axis=1, inplace=True)

Reorder Columns

In [6]:
df1.columns
df1 = df1[['full_name','player_id', 'year', 'age', 'ab', 'pa', 'single', 'double', 'triple',
       'home_run', 'strikeout', 'walk', 'k_percent', 'bb_percent', 'AVG',
       'SLG', 'OBP', 'on_base_plus_slg', 'ISO', 'babip', 'rbi', 'SB', 'G',
       'HBP', 'R', 'xba', 'xslg', 'woba', 'xwoba', 'xobp', 'xiso',
       'exit_velocity_avg', 'launch_angle_avg', 'barrel_rate',
       'hard_hit_percent', 'Unnamed: 35',]]

df2 = df2[['full_name','player_id', 'year', 'age', 'ab', 'pa', 'single', 'double', 'triple',
       'home_run', 'strikeout', 'walk', 'k_percent', 'bb_percent', 'AVG',
       'SLG', 'OBP', 'on_base_plus_slg', 'ISO', 'babip', 'rbi', 'SB', 'G',
       'HBP', 'R', 'xba', 'xslg', 'woba', 'xwoba', 'xobp', 'xiso',
       'exit_velocity_avg', 'launch_angle_avg', 'barrel_rate',
       'hard_hit_percent', 'Unnamed: 35',]]

df3 = df3[['full_name','player_id', 'year', 'age', 'ab', 'pa', 'single', 'double', 'triple',
       'home_run', 'strikeout', 'walk', 'k_percent', 'bb_percent', 'AVG',
       'SLG', 'OBP', 'on_base_plus_slg', 'ISO', 'babip', 'rbi', 'SB', 'G',
       'HBP', 'R', 'xba', 'xslg', 'woba', 'xwoba', 'xobp', 'xiso',
       'exit_velocity_avg', 'launch_angle_avg', 'barrel_rate',
       'hard_hit_percent', 'Unnamed: 35',]]

df4 = df4[['full_name','player_id', 'year', 'age', 'ab', 'pa', 'single', 'double', 'triple',
       'home_run', 'strikeout', 'walk', 'k_percent', 'bb_percent', 'AVG',
       'SLG', 'OBP', 'on_base_plus_slg', 'ISO', 'babip', 'rbi', 'SB', 'G',
       'HBP', 'R', 'xba', 'xslg', 'woba', 'xwoba', 'xobp', 'xiso',
       'exit_velocity_avg', 'launch_angle_avg', 'barrel_rate',
       'hard_hit_percent', 'Unnamed: 35',]]

df5 = df5[['full_name','player_id', 'year', 'age', 'ab', 'pa', 'single', 'double', 'triple',
       'home_run', 'strikeout', 'walk', 'k_percent', 'bb_percent', 'AVG',
       'SLG', 'OBP', 'on_base_plus_slg', 'ISO', 'babip', 'rbi', 'SB', 'G',
       'HBP', 'R', 'xba', 'xslg', 'woba', 'xwoba', 'xobp', 'xiso',
       'exit_velocity_avg', 'launch_angle_avg', 'barrel_rate',
       'hard_hit_percent', 'Unnamed: 35',]]

Create three new columns: Total Points, Average Points, xOPS

In [7]:
df1['Total_Points'] = df1['single'] + 2*df1['double'] + 4*df1['triple'] + 5*df1['home_run'] + df1['walk'] + df1['rbi'] + df1['SB'] + df1['HBP'] + df1['R'] - .75*df1['strikeout']
df1['Average_Points'] = df1['Total_Points'] / df1['G']
df1['xOPS'] = df1['xslg'] + df1['xobp']

df2['Total_Points'] = df2['single'] + 2*df2['double'] + 4*df2['triple'] + 5*df2['home_run'] + df2['walk'] + df2['rbi'] + df2['SB'] + df2['HBP'] + df2['R'] - .75*df2['strikeout']
df2['Average_Points'] = df2['Total_Points'] / df2['G']
df2['xOPS'] = df2['xslg'] + df2['xobp']

df3['Total_Points'] = df3['single'] + 2*df3['double'] + 4*df3['triple'] + 5*df3['home_run'] + df3['walk'] + df3['rbi'] + df3['SB'] + df3['HBP'] + df3['R'] - .75*df3['strikeout']
df3['Average_Points'] = df3['Total_Points'] / df3['G']
df3['xOPS'] = df3['xslg'] + df3['xobp']

df4['Total_Points'] = df4['single'] + 2*df4['double'] + 4*df4['triple'] + 5*df4['home_run'] + df4['walk'] + df4['rbi'] + df4['SB'] + df4['HBP'] + df4['R'] - .75*df4['strikeout']
df4['Average_Points'] = df4['Total_Points'] / df4['G']
df4['xOPS'] = df4['xslg'] + df4['xobp']

df5['Total_Points'] = df5['single'] + 2*df5['double'] + 4*df5['triple'] + 5*df5['home_run'] + df5['walk'] + df5['rbi'] + df5['SB'] + df5['HBP'] + df5['R'] - .75*df5['strikeout']
df5['Average_Points'] = df5['Total_Points'] / df5['G']
df5['xOPS'] = df5['xslg'] + df5['xobp']

Left Join each cleaned rotowire table to baseball savant tables

In [8]:
__2018Hitters = pd.merge(df1,df6,how = 'left',on='full_name')
__2019Hitters = pd.merge(df2,df7,how = 'left',on='full_name')
__2021Hitters = pd.merge(df3,df8,how = 'left',on='full_name')
__2022Hitters = pd.merge(df4,df9,how = 'left',on='full_name')
__2023Hitters = pd.merge(df5,df10,how = 'left',on='full_name')

Drop 'Unnamed 35' Column from each data frame

In [9]:
__2018Hitters.drop(['Unnamed: 35'], axis=1, inplace=True)
__2019Hitters.drop(['Unnamed: 35'], axis=1, inplace=True)
__2021Hitters.drop(['Unnamed: 35'], axis=1, inplace=True)
__2022Hitters.drop(['Unnamed: 35'], axis=1, inplace=True)
__2023Hitters.drop(['Unnamed: 35'], axis=1, inplace=True)

Fix the issue of a player who switched teams getting recorded twice

In [10]:
#Remove duplicate rows in each table
__2018Hitters = __2018Hitters.drop_duplicates(subset=['full_name'])
__2019Hitters = __2019Hitters.drop_duplicates(subset=['full_name'])
__2021Hitters = __2021Hitters.drop_duplicates(subset=['full_name'])
__2022Hitters = __2022Hitters.drop_duplicates(subset=['full_name'])
__2023Hitters = __2023Hitters.drop_duplicates(subset=['full_name'])

Glue dataframes together (Union)

In [11]:
concatenated_df = pd.concat([__2018Hitters,__2019Hitters,__2021Hitters,__2022Hitters,__2023Hitters], axis=0, ignore_index=True)
#concatenated_df.head()
concatenated_df.drop(['single','double','triple','ab'], axis=1, inplace=True)

Write concatenated dataframe to csv for reporting in SQL and Power BI

In [12]:
concatenated_df.to_csv('MLBHitters.csv', index=False)

In [19]:
concatenated_df.head()

,full_name,player_id,year,age,pa,home_run,strikeout,walk,k_percent,bb_percent,...,xiso,exit_velocity_avg,launch_angle_avg,barrel_rate,hard_hit_percent,Total_Points,Average_Points,xOPS,Team,Pos
0,Adrian Beltre,134181,2018,39,481,15,96,34,20.0,7.1,...,0.169,88.7,13.6,6.4,37.4,287.00,2.411765,0.755,TEX,3B
1,Victor Martinez,400121,2018,39,508,9,49,32,9.6,6.3,...,0.140,87.8,14.1,4.7,30.6,257.25,1.934211,0.720,DET,DH
2,Albert Pujols,405395,2018,38,498,19,65,28,13.1,5.6,...,0.181,90.0,14.1,6.2,40.9,306.25,2.617521,0.760,LAA,1B
3,Joe Mauer,408045,2018,35,543,6,86,51,15.8,9.4,...,0.153,91.1,4.4,5.0,44.3,291.50,2.295276,0.813,MIN,1B
4,Jose Reyes,408314,2018,35,251,4,39,22,15.5,8.8,...,0.085,85.4,12.7,2.6,24.3,123.75,1.125000,0.602,NYM,SS

Minor League Hitter Analysis

In [12]:
#Import Triple A Standard and Advanced Stats

#International League Standard:
df11 = pd.read_csv('fangraphs-minor-league-leaders.csv')
#International League Advanced:
df12 = pd.read_csv('fangraphs-minor-league-leaders (1).csv')

#Pacific League Standard
df13 = pd.read_csv('fangraphs-minor-league-leaders (2).csv')
#Pacific League Advanced
df14 = pd.read_csv('fangraphs-minor-league-leaders (3).csv')

In [13]:
#df11.columns
df11.info()
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      83 non-null     object
 1   Team      83 non-null     object
 2   Level     83 non-null     object
 3   Age       83 non-null     int64
 4   G         83 non-null     int64
 5   AB        83 non-null     int64
 6   PA        83 non-null     int64
 7   H         83 non-null     int64
 8   1B        83 non-null     int64
 9   2B        83 non-null     int64
 10  3B        83 non-null     int64
 11  HR        83 non-null     int64
 12  R         83 non-null     int64
 13  RBI       83 non-null     int64
 14  BB        83 non-null     int64
 15  IBB       83 non-null     int64
 16  SO        83 non-null     int64
 17  HBP       83 non-null     int64
 18  SF        83 non-null     int64
 19  SH        83 non-null     int64
 20  GDP       83 non-null     int64
 21  SB        83 non-null     int64
 22  CS        83 non-null     int64
 23  AVG       83 non-null     float64
 24  PlayerId  83 non-null     object
dtypes: float64(1), int64(20), object(4)
memory usage: 16.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      83 non-null     object
 1   Team      83 non-null     object
 2   Level     83 non-null     object
 3   Age       83 non-null     int64
 4   PA        83 non-null     int64
 5   BB%       83 non-null     float64
 6   K%        83 non-null     float64
 7   BB/K      83 non-null     float64
 8   AVG       83 non-null     float64
 9   OBP       83 non-null     float64
 10  SLG       83 non-null     float64
 11  OPS       83 non-null     float64
 12  ISO       83 non-null     float64
 13  Spd       83 non-null     float64
 14  BABIP     83 non-null     float64
 15  wSB       83 non-null     float64
 16  wRC       83 non-null     float64
 17  wRAA      83 non-null     float64
 18  wOBA      83 non-null     float64
 19  wRC+      83 non-null     float64
 20  PlayerId  83 non-null     object
dtypes: float64(15), int64(2), object(4)
memory usage: 13.7+ KB

Drop Unneccesary Columns

In [14]:
df11.drop(['AB', 'H', 'SF','SH','GDP','CS'], axis=1, inplace=True)
df12.drop(['Name', 'Team', 'Level','Age','PA','AVG','wSB','wRC','wRAA','wRC+'], axis=1, inplace=True)
df13.drop(['AB', 'H', 'SF','SH','GDP','CS'], axis=1, inplace=True)
df14.drop(['Name', 'Team', 'Level','Age','PA','AVG','wSB','wRC','wRAA','wRC+'], axis=1, inplace=True)

Merge same league dataframes together then concatenate the two tables to create one table

In [15]:
#International League
df15 = pd.merge(df11,df12,how = 'left',on = 'PlayerId')
#Pacific League
df16 = pd.merge(df13,df14,how = 'left',on = 'PlayerId')
#Concatentated df
concatdf = pd.concat([df15,df16], axis=0, ignore_index=True)

Add Average Fantasy Points column

In [16]:
concatdf['Average_Points'] = (concatdf['1B'] + 2*concatdf['2B'] + 4*concatdf['3B'] + 5*concatdf['HR'] + concatdf['BB'] + concatdf['RBI'] + concatdf['SB'] + concatdf['HBP'] + concatdf['R'] - .75*concatdf['SO'])/concatdf['G']

Write to CSV

In [17]:
concatdf.to_csv('MinorLeagueHitters.csv', index=False)

Export dataframes to SQL

In [40]:
#Import SQLLite
import sqlite3

#Connect/Create a database
connection = sqlite3.connect('Hitters')

#Import the minor leaguers
#concatdf.to_sql('minor_hitters',connection,if_exists='replace')

#Import the MLB hitters
concatenated_df.to_sql('major_hitters',connection,if_exists='replace')

#Close connection
connection.close()